#logo{
    text-align: center;
}

#header{
    text-align: center;
    font-family: Segoe UI;
    font-style: oblique;
}

#Slogan{
    text-align: center;
    font-family: Segoe UI;
}

#welcomeM{
    text-align: center;
    font-family: Segoe UI;
}

#signUpM{
    text-align: center;
    font-family: Segoe UI;
}

#suggestion{
    text-align: center;
    font-family: Segoe UI;
}

#signUpForm{
    text-align: center;
}

label{
    font-family: Segoe UI;
}

#freeMode{
    text-align: center;
}


button:hover{
    text-shadow: slategray;
}

button{
    background: white;
    border-radius: 50px;
    border: 30%;
}








